@{
    ViewData["Title"] = "Help";
    Layout = "";
}
<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 11">
    <meta name=Originator content="Microsoft Word 11">
    <link rel=File-List href="help_files/filelist.xml">
    <link rel=Edit-Time-Data href="help_files/editdata.mso">
    <!--[if !mso]>
    <style>
    v\:* {behavior:url(#default#VML);}
    o\:* {behavior:url(#default#VML);}
    w\:* {behavior:url(#default#VML);}
    .shape {behavior:url(#default#VML);}
    </style>
    <![endif]-->
    <title>Help Page of FMRS</title>
    <!--[if gte mso 9]><xml>
     <o:DocumentProperties>
      <o:Author>YEUNG WING YAN</o:Author>
      <o:LastAuthor>YEUNG WING YAN</o:LastAuthor>
      <o:Revision>2</o:Revision>
      <o:TotalTime>0</o:TotalTime>
      <o:Created>2008-07-18T04:10:00Z</o:Created>
      <o:LastSaved>2008-07-18T04:10:00Z</o:LastSaved>
      <o:Pages>1</o:Pages>
      <o:Words>78</o:Words>
      <o:Characters>445</o:Characters>
      <o:Company>Hospital Authority</o:Company>
      <o:Lines>3</o:Lines>
      <o:Paragraphs>1</o:Paragraphs>
      <o:CharactersWithSpaces>522</o:CharactersWithSpaces>
      <o:Version>11.9999</o:Version>
     </o:DocumentProperties>
    </xml><![endif]-->
    <!--[if gte mso 9]><xml>
     <w:WordDocument>
      <w:SpellingState>Clean</w:SpellingState>
      <w:GrammarState>Clean</w:GrammarState>
      <w:ValidateAgainstSchemas/>
      <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
      <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
      <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
      <w:Compatibility>
       <w:UseFELayout/>
      </w:Compatibility>
      <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
     </w:WordDocument>
    </xml><![endif]-->
    <!--[if gte mso 9]><xml>
     <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
     </w:LatentStyles>
    </xml><![endif]-->
    <style>
    </style>
    <!--[if gte mso 10]>
    <style>
     /* Style Definitions */
     table.MsoNormalTable
        {mso-style-name:"Table Normal";
        mso-tstyle-rowband-size:0;
        mso-tstyle-colband-size:0;
        mso-style-noshow:yes;
        mso-style-parent:"";
        mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
        mso-para-margin:0cm;
        mso-para-margin-bottom:.0001pt;
        mso-pagination:widow-orphan;
        font-size:10.0pt;
        font-family:"Times New Roman";
        mso-fareast-font-family:"Times New Roman";
        mso-ansi-language:#0400;
        mso-fareast-language:#0400;
        mso-bidi-language:#0400;}
    </style>
    <![endif]-->
    <script language="JavaScript">
//change image
function changeimages(){
	var obj
	obj = changeimages.arguments[1]
	changeimages.arguments[0].src=obj
}
function close_window(){
  window.close()
}

function open_support(){
    support_window = window.open("http://has-gen-web1/bsd_ff_dev/hotline", "support", "height=500, width=700, toolbar=yes, menubar=yes, resizable=yes, scrollbars=yes, titlebar=yes, location=yes")
  support_window.focus()
}
    </script>
    <!--[if gte mso 9]><xml>
     <o:shapedefaults v:ext="edit" spidmax="2050"/>
    </xml><![endif]-->
    <!--[if gte mso 9]><xml>
    <o:shapelayout v:ext="edit">
     <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout></xml><![endif]-->
</head>

<body bgcolor=white background="/images/background-2.jpg" lang=EN-US>
    <div class=Section1>
        <div align=center>
            <table class=MsoNormalTable border=0 cellpadding=0>
                <tr style='height:33.75pt'>
                    <td style='padding:.75pt .75pt .75pt .75pt;height:33.75pt'>
                        <p align=center style='text-align:center'>
                            <img width=320 height=64 id="_x0000_i1025" src="~/images/help.jpg">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style='padding:.75pt .75pt .75pt .75pt'>
                        <p class=MsoNormal>
                            Please enter your user name (domain user id), your
                            password and your domain. If your computer has already logon with domain, the
                            domain will be attached automatically.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style='padding:.75pt .75pt .75pt .75pt'>
                        <p class=MsoNormal>
                            For example: &quot;User name: <span class=SpellE>leeys</span>&quot;,
                            &quot;Password: ******&quot;, &quot;Domain: <span class=SpellE>pyn-corp</span>&quot;
                        </p>
                    </td>
                </tr>
            </table>

        </div>

        <p align=center style='text-align:center'>
            <span style='font-size:10.0pt;font-family:Arial;color:red'>
                If you encounter any problems using FMRS please use the
            </span><u>
                <span style='font-size:10.0pt;font-family:Arial;color:mediumblue;cursor:pointer;' onclick='open_support()'>
                    Business Support Desk
                </span>
            </u><span style='font-size:10.0pt;font-family:Arial;color:red'>for assistance</span> <o:p></o:p>
        </p>

        <div align=center>
            <table class=MsoNormalTable border=0 cellpadding=0 height=50>
                <tr>
                    <td width=80 style='width:60.0pt;padding:.75pt .75pt .75pt .75pt'>
                        <p align=center style='text-align:center'>
                            <img width=50 height=32
                                 id="_x0000_i1026" src="~/images/OK.jpg" style='cursor:pointer;'
                                 alt="Click to close the window" name=OK
                                 onmouseover="changeimages(this,'/images/OK_1.jpg')"
                                 onmouseout="changeimages(this,'/images/OK.jpg')"
                                 onclick="close_window()">
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <p class=MsoNormal><o:p>&nbsp;</o:p></p>
    </div>
</body>
</html>
