
@{
    ViewBag.Title = Resource.Donation;
}

<h1>@ViewBag.Title</h1>
<p class="lead">System financial year: 16/17</p>

<p class="lead">To access 14/15 or before, please click HERE</p>

@*<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="FinancialClosing" asp-action="Index" title="Manage Fix Asset for Closing" id="Y">FinancialClosing</a></li>
    <li><a asp-area="" asp-controller="ProjectManagement" asp-action="Index" title="Project Status Management" id="M">Project Management</a></li>
    <li><a asp-area="" asp-controller="Donation" asp-action="Index" title="Manage Donation Income and Expenditure" id="D">Donation</a></li>

</ul>*@